body{
background-image: url(../images/background.jpg);
}
h1{
    font-family: 'Finger Paint', cursive;
    text-align: center;

  }
.wrapper{
    background-color: lightgrey;
    margin: auto;
    text-align: center;
    width: 70%;
}
#start, #reset{
    background-color: black;
    border-color: black
}




